<!-- Image previous to navigation bar -->
<div class="logo">
        <!--i class="fab fa-instagram">LALA</i>-->
        <img class="mx-auto d-block" alt="Legna Design" src="/assets/logo_70.jpg"/>
</div>
<!-- Navigation -->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Legna Design</a>
    <!--a class="navbar-brand" href="#">
        <img src="/assets/logo_70.jpg" alt="Legna Design">
    </a-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav nav-fill w-100 ">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="home">Legna Design</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="construction">Construcció</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="balance">Equilibris</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="wheels">Sobre rodes</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="wands">Varetes màgiques</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="contact">Contacte</a>
            </li>
        </ul>
    </div>
</nav>
